*,
*::before,
*::after {
    margin-top: 0;
    box-sizing: border-box;
}

html {
    padding-block: 0;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}